.wrap {
  text-align: center;
}
.fom {
  text-align: center;
}
table {
  width: 80%;
  margin: 30px auto; 
}
td {
  padding: 10px;
}
input[type="text"] {
  width: 250px;
  height: 30px;
  text-align: left;
  font-size: 15px;
}
.em {
  width: 200px;
}
.idname {
text-align: left;
}


