.wrap {
  text-align: center;
}
.custoTable {
  border: 1px solid rgb(207, 207, 207);
  margin: 0 auto;
  width: 100%;
}
.custoTable td {
  padding: 10px;
}
.custoTable td:first-child {
  /* background-color: rgb(37, 41, 46);
  color: rgb(230, 230, 230); */
}
.custoTable td:last-child {
  text-align: start;
  width: 80%;
}
.custoTable input[type=text] {
  width: 40%;
  height: 25px;
  border: 1px solid rgb(175, 175, 175);
}
.ck.ck-editor {
  width: 99.7%;
}
.ck-editor__editable {
  height: 300px;
}
.custoTable input[type=file] {
  font-size: 14px;
}
.custoTable input[type=checkbox], .custoTable span {
  margin-right: 5px;
  font-size: 15px;
  vertical-align: middle;
}
.wrap form button {
  margin: 20px 50px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}

/* 문의 개별보기 */

.viewTable tr:nth-child(2) td {
  text-align: center;
}
.viewTable tr:last-child td {
  height: 200px;
  vertical-align: top;
}

.viewAnswer {
  text-align: start;
  border: 1px solid rgb(207, 207, 207);
  margin: 30px 0;
  padding: 10px;
  min-height: 200px;
}

.wrap .dark {
  width: 120px;
  height: 40px;
}