.commonSection1 {
  width: 100%;
  /* height: 200px; */
  position: relative;
}
.commonContent1 {
  height: 200px;
}
.commonContent1 img {
  max-height: 100%;
}
.commonContent2 {
  padding: 5px 10px;
  position: absolute;
  top: 30%;
  right: 38%;
  color: white;
}

.homeBtn {
  width: 50px;
  color: white;
  background-color: black;
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .dropdownHide,
  .homeBtn {
    display: none;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .dropdownHide,
  .homeBtn {
    display: none;
  }
}

/* 제가 건든 부분입니다 - 안예린 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
div {
    display: block;
}
.wrap {
    margin: 100px auto;
    width: 80%;
    max-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif; 
    /* letter-spacing: 1px; */
    font-size: 18px;
    font-weight: 400;
    color: #333333;
}
table {
    border-collapse: collapse;
    white-space:nowrap;
}
input:focus, .wrap button:focus {
    outline: none;
}
.wrap button {
    border: none;
    border-radius: 3px;
}
.wrap a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}

.bright {      
    background-color: rgb(236, 236, 236);
    color: rgb(44, 44, 44);
    font-weight: bold;
}
.dark, .dark:link, .dark:visited {
    background-color: rgb(34, 34, 34);
    color: rgb(230, 230, 230);
}
.gold {
    color: #fcc616;
}
.gray {
    color: rgb(163, 163, 163);
}
.active {
    display: block;
}
.hide {
    display: none;
}

.pageNav {
    margin: 20px;
}
.pageNav a {
    margin: 0 10px;
}
.pageNav a:link, .pageNav a:visited {
    color: rgb(44, 43, 43);
}