#file_upload{
	width: 500px;
	min-height:150px;
	padding:10px;
	background-color: lightgray;
}
#file_upload:empty:before{
	content : attr(data-placeholder);
	color : #999;
	font-size:.9em;
}
* {
	margin: 10px 0;
}
.wrap {
	margin: 0 auto;
	text-align: center;
}
.wrap p {
	vertical-align: middle;
}
.wrap img, .wrap span {
	width: 200px;
	vertical-align: middle;
}
.wrap span {
	font-weight: bold;
	font-size: 20px;
	margin-left: 30px;
}

.wrap input[type=text], .wrap input[type=password] {
	width: 500px;
	height: 30px;
}
.wrap input[type=checkbox] {
	text-align: start;
}
.wrap textarea {
	width: 500px;
}
.checkLabel {
	font-size: 15px;
}
.wrap button {
	width: 100px;
	height: 40px;
	margin: 10px 20px;
}
