* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
div {
    display: block;
}
.wrap {
    margin: 100px auto;
    width: 80%;
    max-width: 1200px;
    font-family: 'Noto Sans KR', sans-serif; 
    /* letter-spacing: 1px; */
    font-size: 20px;
    font-weight: 400;
    color: #333333;
}
table {
    border-collapse: collapse;
    white-space:nowrap;
}
input:focus, .wrap button:focus {
    outline: none;
}
.wrap button {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
}
.wrap a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* 색 지정 */
.bright {      
    background-color: rgb(236, 236, 236);
    color: rgb(44, 44, 44);
    font-weight: bold;
}
.dark, .dark:link, .dark:visited {
    background-color: rgb(37, 41, 46);
    /* background-color: rgb(34, 34, 34); */
    color: rgb(230, 230, 230);
}
.gold {
    color: #fcc616;
}
.gray {
    color: rgb(163, 163, 163);
}
.active {
    display: block;
}
.hide {
    display: none;
}

/* 페이지 네비게이션 */
.pageNav {
    margin: 20px;
}
.pageNav a {
    margin: 0 10px;
}
.pageNav a:link, .pageNav a:visited {
    color: rgb(44, 43, 43);
}

/* 별점 */
.starRating-fill {
    padding: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    /* font-family: '"Segoe UI"'; */

}
.starRating-base {
    position: relative;
    z-index: 0;
    padding: 0;
    /* font-family: '"Segoe UI"'; */
}
.fa-star {
    letter-spacing: -5px;
}
