@charset "UTF-8";

/* 초기화 */
* {
  margin: 0; padding: 0;
}
a, a:link, a:hover {
  text-decoration: none;
   color: #5a5a5a;
}

.main1 {
	font-family: 'Noto Sans KR', sans-serif;
}
.main1 h1 {
	font-weight: bold;
}
.banner{
	margin-top: 50px;
	width: 103%;
}

.banner_img {
	display:flex;
	justify-content: center;
	margin:0 auto;
}
.best{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.new img{
	padding: 50px;
	padding-bottom: 30px;
	margin-top: 50px;
}

.img_best{
	display : flex;
	
	padding-bottom : 100px;
	justify-content : space-evenly;
	margin: 0 auto;
	background-color: #F0F0F0;
	width: 1500px;
	
}
.gift_set img{
	margin-top: 100px;
	
	
}
.gift_set{
	display : flex;
	flex-direction: row;
	margin : 0 auto;
	justify-content : space-evenly;
	width:80%;
}	
.gift_set h3 {
	margin-top: 30px;
}
.main_product img{
	margin-top: 150px;
}
.main_product2{
	display : flex;
	flex-direction : row;
	justify-content: space-between;
	width : 80%;
	margin: 0 auto;
}
.main_product h3{
		margin-top: 30px;
		
}
.product_gift1{
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	
}
.best1 p{
	text-align: left;
	margin-left: 80px;
	
}
.best1 h3{
	text-align: center;
	margin-bottom: 20px;
}
.best2 p{
	text-align: left;
	margin-left: 70px;
}
.best2 h3{
	text-align: center;
	margin-bottom: 20px;
}
.best3 p{
	text-align: left;
	margin-left: 70px;
}
.best3 h3{
	text-align: center;
	margin-bottom: 20px;
}
.star1 {
	text-align: left;
	margin-left: 50px;
}
.star2 {
	text-align: left;
	margin-left: 50px;
}
.info1 p{
	text-align: left;

}
.info1 h3{
	text-align: center;
	margin-bottom: 20px;
}
.info2 p{
	text-align: left;
	margin-left: 30px;
}
.info2 h3{
	text-align: center;
	margin-bottom: 20px;
}
.info4 p{
	text-align: left;
	margin-left: 15px;
}
.info4 h3{
	text-align: center;
	margin-bottom: 20px;
}
.mon {
	color: #F35958;
}
.main2 img:hover{
	-ms-transform:scale(1.02,1.02);
	 -webkit-transform:scale(1.02,1.02);
	  transform:scale(1.02,1.02);
}
.main2 img{
	transition:all .5s ease;
}

.best1, .best2, .best3, .gift1, .product1, .product2, .product3, .product4 , .product5, .product6, .product7, .product8, .product9{
  position: relative;
  z-index: 999;
}

.product_img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50%;
  
}

.best1:hover .product_img, .best2:hover .product_img, .best3:hover .product_img, .gift1:hover .product_img, .product1:hover .product_img, .product2:hover .product_img
, .product3:hover .product_img, .product4:hover .product_img, .product5:hover .product_img, .product6:hover .product_img, .product7:hover .product_img
, .product8:hover .product_img, .product9:hover .product_img{
  opacity: 0.3;
  
}

.best1:hover .middle, .best2:hover .middle, .best3:hover .middle, .gift1:hover .middle, .product1:hover .middle, .product2:hover .middle, .product3:hover .middle
, .product4:hover .middle, .product5:hover .middle, .product6:hover .middle, .product7:hover .middle, .product8:hover .middle, .product9:hover .middle {
  opacity: 1;
}

.text {
  color:black;
  padding: 16px 32px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  
}
.best .text .icon_img1{
	width: 	40px;
	padding: 0;
	margin: 0;
	
}
.gift1 .icon_img1, .product1 .icon_img1, .product2 .icon_img1, .product3 .icon_img1, .product4 .icon_img1, .product5 .icon_img1, .product6 .icon_img1
, .product7 .icon_img1, .product8 .icon_img1, .product9 .icon_img1{
	padding: 50px;
}

.best:not(.new) .middle {
	width: 70%;
	height: 75px;
	margin-top: 35px;
}
