 * {
 	margin:0; padding:0;
 }

.bg_admin {
	margin-top: 150px;
}

#title {
		position:absolute;
        left: 45%; top: 40%;
        background-color: transparent;
        color: white;
        font-size:30px;
}

#title1 {
	    position:absolute;
        left: 43%; top: 46%;
        background-color: transparent;
        color: white;
        font-size:20px;
}

.admin_list {
	font-size: 25px;
	padding: 50px;
}

.admin_list li{
	clear: both;
	list-style: disc;
}

.admin_div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}
#product {
	margin-top: 50px;
}

.member_table {
	border-collapse:collapse;
	border-top: 1px solid black;
	width: 1300px; 
	height: 100px; 
	text-align: center;
}

.member_table th, tr {
	 border-bottom: 1px solid black;
}

.member_table th,td{
	text-align: center;
	height: 50px;
}

.member_table1 {
	border-collapse:collapse;
	width: 1300px; 
	height: 100px; 
	text-align: center;
}

.member_table1 th,td{
	text-align: center;
	height: 50px;
}

.member_table2 {
	border-collapse:collapse;
	width: 1300px; 
	height: 100px; 
	text-align: center;
}

.member_table2 th,td{
	text-align: center;
	height: 50px;
}

.member_table3 {
	border-collapse:collapse;
	width: 1300px; 
	height: 100px; 
	text-align: center;
}

.member_table3 th,td{
	text-align: center;
	height: 50px;
}

.bar {
	display:inline-block;
	width: 100%;
	margin-top: 50px;
}

#order_bar {
	float: left;
}

#select_bar {
	float: right;
}
