.product_gift h1{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 100px;
	font-weight: bold;
}
.text1{
	float: left;
}
.text2 {
	float: right;
}
.product_gift1{
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.product_gift2{
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
a, a:link, a:hover {
  text-decoration: none;
   color: #5a5a5a;
}

.main2 img:hover{
	-ms-transform:scale(1.02,1.02);
	 -webkit-transform:scale(1.02,1.02);
	  transform:scale(1.02,1.02);
}
.main2 img{
	transition:all .5s ease;
}

.best1, .best2, .best3, .gift1,.gift2, .product1, .product2, .product3, .product4 , .product5, .product6, .product7, .product8, .product9{
  position: relative;
  
}

.product_img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
}

.best1:hover .product_img, .best2:hover .product_img, .best3:hover .product_img, .gift1:hover .product_img,.gift2:hover .product_img, .product1:hover .product_img, .product2:hover .product_img
, .product3:hover .product_img, .product4:hover .product_img, .product5:hover .product_img, .product6:hover .product_img, .product7:hover .product_img
, .product8:hover .product_img, .product9:hover .product_img{
  opacity: 0.3;
  
}

.best1:hover .middle, .best2:hover .middle, .best3:hover .middle, .gift1:hover .middle,.gift2:hover .middle, .product1:hover .middle, .product2:hover .middle, .product3:hover .middle
, .product4:hover .middle, .product5:hover .middle, .product6:hover .middle, .product7:hover .middle, .product8:hover .middle, .product9:hover .middle {
  opacity: 1;
}

.text {
  color:black;
  padding: 16px 32px;
  display:flex;
  flex-direction: row;
  
}
.icon_img1{
	width: 	140px;
}
.gift1 .icon_img1,	.gift2 .icon_img1,  .product1 .icon_img1, .product2 .icon_img1, .product3 .icon_img1, .product4 .icon_img1, .product5 .icon_img1, .product6 .icon_img1
, .product7 .icon_img1, .product8 .icon_img1, .product9 .icon_img1{
	padding: 50px;
}
.title{
	margin-left: 20%;
	margin-right: 20%;
}
.product_gift1, .product_gift2{
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 150px;
}
.gift1 h3{
	margin-top: 30px;	
}
.mon {
	color: #F35958;
}