
 .container {
   margin: auto;
   
   text-align: left;

  }
/* 	.wrap .footer{
	margin: 0;
	
	width : 1920px;
	margin-left: -400px;
	
	} */


  
  
  .container .search_condition {
    height: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin: 30px 0px;
    border: 2px solid #a6a6a6;
    width: 100%; 
    height: auto;
    border-collapse: collapse;
  }
  .container .search_condition input{
   border: 2px solid #a6a6a6;
   }
  .container .search_condition input {   
    width: 100%; 
    height: 50px;
    
    border: none;
    padding: 10px;   
  }
  
  .container .search_condition button {  
    width: 100px; 
    height: 50px;
  }
  
  .container .list {
    margin: 20px 0;    
  }
  
  .container .list table {   
    width: 100%; height: auto;
    border-collapse: collapse;
  }
  
  .container .list table tr {
    border: 2px solid #a6a6a6;
    width: 100%; 
    height: 50px;
    text-align: center;
  }
  .container .list table tr td {
    width: auto; 
    height: 50px;
  }
  .container .list table tr td:nth-child(1) {
    width: 100px;
  }
  .container .list table tr td:nth-child(2) {
    width: 100px;
  }
  .container .search_result {
    
    height: 50px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    font-size: 16px;
    
  }
  .container .search_result .sort {
    width: 160px; 
    height: 30px;
    text-align: center;
  }
  
  .sub_title{
  text-align: left;
  }

  .container .page {
    height: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
  }
  .container .page > * {
    width: 40px; 
    height: 40px;
    font-size: 17px; 
    color: #262626;
    background-color: #e6e6e6;
    border: none; 
    border-radius: 5px;
    margin: 7px;
  }
  .container .page .page_item:nth-child(3) {
    background-color: #2aa0ff;
  }
  .container .page .prev:hover, .container .page .page_item:hover, .container .page .next:hover {
    cursor: pointer;
  }
  .container .page .prev, .container .page .next {
    color: #262626 !important;
    background-color: #e6e6e6 !important;
  }

  
  .best1 {
    position: relative;
  z-index: 999;
  }
  
  .best1:hover .product_img {
    opacity: 0.3;
  }
  
  .best1:hover .middle {
  	opacity:1;
  }
  .best1 p{
	text-align: left;
	margin-left: 80px;
	
}
.best1 h3{
	text-align: center;
	margin-bottom: 20px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  
  
}

.text {
  color:black;
  padding: 16px 32px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  
}
.icon_img1{
	width: 	70px;
}
.img_best{
	display : flex;
	padding-bottom : 100px;
	justify-content : space-evenly;
	margin: 0 auto;

	
}

.product {
	margin-top:50px;
}