.wrap {
  text-align: center;
}

.wrap .search_condition {
  height: 50px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  margin: 30px 0px;
  border: 2px solid #a6a6a6;
  width: 100%; 
  height: auto;
  border-collapse: collapse;
}

.wrap .search_condition input{
  border: 2px solid #a6a6a6;
}

.wrap .search_condition input {   
  width: 100%; 
  height: 50px; 
  border: none;
  padding: 10px;   
}

.wrap .search_condition button {  
  width: 100px; 
  height: 50px;
}

.wrap .list {
  margin: 20px 0;    
}

.wrap .list table {   
  width: 100%; height: auto;
  border-collapse: collapse;
}

.wrap .list table tr {
  border: 2px solid #a6a6a6;
  width: 100%; 
  height: 50px;
}

.wrap .list table tr td {
  width: auto; 
  height: 50px;
}

.wrap .list table tr td:nth-child(1), .wrap .list table tr td:nth-child(2) {
  width: 100px;
}

.wrap .search_result {
  height: 50px;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  font-size: 16px;  
}

.wrap .search_result .sort {
  width: 160px; 
  height: 30px;
  text-align: center;
}

.product {
	margin-top:50px;
}

.img_best{
  display : flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.best1 {
  position: relative;
  z-index: 999;
  margin: 5px;
  flex: 0 30%;
  justify-self: flex-start;
}

.product_img {
  width: 100%;
  max-width: 300px;
  transition:all .5s ease;
}
.product_img:hover{
	-ms-transform:scale(1.02,1.02);
	 -webkit-transform:scale(1.02,1.02);
	  transform:scale(1.02,1.02);
}
.best1:hover .product_img {
  opacity: 0.3;
}
  
.best1:hover .middle {
  opacity:1;
}
.best1 p, .best1 h3{
  margin: 10px 0;
}
.mon {
  color: #F35958;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text {
  color:black;
  display:flex;
  justify-content: space-around; 
}
.icon_img1{
  width: 	40px;
}