.wrap {
  text-align: center;
}
.custoTable {
  border: 1px solid rgb(207, 207, 207);
  margin: 0 auto;
  width: 100%;
}
.custoTable td {
  padding: 10px;
}
.custoTable td:first-child {
  /* background-color: rgb(37, 41, 46);
  color: rgb(230, 230, 230); */
}
.custoTable td:last-child {
  text-align: start;
  width: 80%;
}
.custoTable input[type=text] {
  width: 40%;
  height: 25px;
  border: 1px solid rgb(175, 175, 175);
}
.ck.ck-editor {
  width: 99.7%;
}
.ck-editor__editable {
  height: 300px;
}
.wrap .custoTable button {
  font-size: 14px;
  font-weight: 400;
  color: rgb(84, 85, 87);
  width: 80px;
  height: 25px;
  margin: 0;
  border: 1px solid rgb(175, 175, 175);
}
.custoTable input[type=text], .wrap .custoTable button {
  vertical-align: middle;
}
.custoTable input[type=checkbox], .custoTable span {
  margin-right: 5px;
  font-size: 14px;
  vertical-align: middle;
}
.wrap form button {
  margin: 20px 50px;
  width: 150px;
  height: 40px;
  font-size: 18px;
}
